/* ===== RESETS ===== */
*, *::before, *::after{
    margin:0;
    padding:0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: rgb(22,49,168);
    background: linear-gradient(120deg, rgba(22,49,168,1) 0%, rgba(22,105,168,1) 100%); 
    font-family: system-ui;
    display: grid;
    place-content: center;
    min-height: 100vh;
}